@import url('https://fonts.googleapis.com/css?family=Italianno');

#heart{
  padding: 0% 0% 0% 0%;
  width:100%;
  background-color:white;
}
#heart_img {
    height: auto;
    width: auto;
    max-width: 90%;
    max-height: 90%;
}
#heart_desc{
  margin-top: 20%;
  margin-left: 5%;
  margin-right: 5%;
  font-family: 'Italianno', cursive;
  font-size: 400%;
}
#books{
  padding: 0% 0% 0% 0%;
  margin-top: 10%;
  width:100%;
  background-color:white;
}
#books_img {
    height: auto;
    width: auto;
    max-width: 60%;
    max-height: 50%;
    margin-left:150;
}
#books_desc{
  margin-top: 20%;
  margin-left: 20%;
  font-family: 'Italianno', cursive;
  font-size: 400%;
}
#coffee{
  padding: 0% 0% 0% 0%;
  margin-top: 12%;
  width:100%;
  background-color:white;
}
#coffee_img {
    height: auto;
    width: auto;
    max-width: 90%;
    max-height: 90%;
}
#coffee_desc{
  margin-top: 20%;
  margin-left: 20%;
  font-family: 'Italianno', cursive;
  font-size: 400%;
}
#travel{
  padding: 0% 0% 0% 0%;
  margin-top: 12%;
  width:100%;
  background-color:white;
}
#travel_img {
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 50%;
    margin-left:60;
}
#travel_desc{
  margin-top: 20%;
  margin-left: 20%;
  font-family: 'Italianno', cursive;
  font-size: 400%;
}
#couple{
  padding: 0% 0% 0% 0%;
  margin-top: 12%;
  width:100%;
  background-color:white;
}
#couple_img {
    height: auto;
    width: auto;
    max-width: 70%;
    max-height: 90%;
}
#couple_desc{
  margin-top: 20%;
  margin-right: 8%;
  font-family: 'Italianno', cursive;
  font-size: 400%;
}
