@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


body{
overflow-x: hidden;
}
#nav-head{
    font-size:34px;
  font-style:bold;
 font-family:  'Dancing Script','serif';
  color:#05166b;
}
#navbar{
  z-index:1;
  position:fixed;
  width:100%;
}
#abt{
padding:12% 0 10% -1;
width:100%;
background-image:url("../images/couple.jpg");
      background-size: cover;
      opacity: 0.9  ;
      z-index: -1;
}
#author{
  padding 0% 2% 15% 2%;
  width:100%;
  background-color:#F3FCCD;
}
#contact{
  background-color:white;
  padding:1% 0 0 0;
  width:100%;
}
li:hover{
  background-color:#8D8B8A;
}

#about-p img{
  text-align: center;
  width: 100%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#about-p img:hover{
  -webkit-transform: scale(1.5);
	transform: scale(1.5);
}
#col2{
  padding: 5% 5% 1% 2%;
}
#desc{
  color:black;
  font-size:20px;
  font-family:  'Vollkorn SC','serif';
  text-align:center;
  padding:5% 2% 5% 2%;
}
#ul1{
    color:black;
    background-color: #BFFBFA;
list-style: none;
  font-size:18px;
  font-family:  'Lora','serif';
  text-align:left;
  padding:5% 2% 4% 2%;
  line-height: 1.8em;
}
#book-row{
  padding:8% 0 0 0;
  text-align:center;
}
#but{
  padding:1% 10% 1% 10%;
  text-align:center;
  background-color:#2E86C1;
    border-color:black;
    color:white;
}
#but:hover{
  background-color:#2E86C1;
    border-color:black;
    color:black;

}

#about-p{
  text-align:center;
  color:#640A22;
  font-size:18px;
  font-family:  'Lora','serif';
  width:100%;
  padding:2% 10% 2% 10%;
  opacity:0.7;
}
#contact_header{
  text-align:center;
  font-family:  Merriweather,monospace;
font-size:25px;
padding-bottom: 5%;

}
#foot{
  text-align: center;
  padding:2%;
  background-color: #F3F3EF;
  color: white;
  font-size: 15px;
}
